body{
  
  background-size: cover;
   background-image: url(FondoPrueba.PNG);
   background: #FA8072;
}
.a1f{
	position: absolute;
	top: 1%;
 	left: 1%;
  	width: 98%; 
  	height: 1300%; 
  	background-size: cover;
  	background-image: url( .PNG);
  	border: 5px solid yellow; 
  	border-radius: 4%;
    background: skyblue ;
}



.a4f{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px red , 2px 2px 2px white, 3px 3px 3px red, 4px 4px 4px white;
   
  top: 30px;
  left: 29%;
    width: 65%; 
    height: 370px;
    color: #27FF00;
    border: 8px solid yellow; 
    border-radius: 1%;
    box-shadow: 15px 15px 10px white;
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
 
}

.abc4f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px red , 2px 2px 2px white, 3px 3px 3px red, 4px 4px 4px white;
   
  top: 0px;
  left: 0%;
    width: 35%; 
    height: 96%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
 
}


.title1f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 3%;
  left: 40%;
    width: 50%; 
    height: 20%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
}



.title2f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px #00FFFF , 2px 2px 2px #00FFFF, 3px 3px 3px #00FFFF, 4px 4px 4px #00FFFF;
   
  top: 30%;
  left: 35%;
    width: 60%; 
    height: 20%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
}


.title3f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 45%;
  left: 35%;
    width: 60%; 
    height: 20%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
}


.title4f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px #00FFFF , 2px 2px 2px #00FFFF, 3px 3px 3px #00FFFF, 4px 4px 4px #00FFFF;
   
  top: 60%;
  left: 35%;
    width: 60%; 
    height: 20%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
}


.title5f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 80%;
  left: 35%;
    width: 60%; 
    height: 17%;
    color: #27FF00;
    border: 5px solid lime; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #27FF00;
}





.ab4f{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px red , 2px 2px 2px white, 3px 3px 3px red, 4px 4px 4px white;
  top: 30px;
  left: 8%;
    width: 20%; 
    height: 375px;
    color: #00FF64;
    border: 8px solid yellow; 
    border-radius: 1%;
    box-shadow: 15px 15px 10px white;
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
    background: red;
 
}

.Cuadro1Semana2PPf{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 120%;
  left: -40%;
    width: 110%; 
    height: 200%;
    color: skyblue;    border: 5px solid purple; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #FBDCFF;
    border-radius: 10%;
}


.Cuadro2Semana2PPf{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 10%;
  left: 5%;
    width: 90%; 
    height: 80%;
    color: #FFF700;    border: 5px solid purple; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #DAF7A6;
    border-radius: 10%;
}

.ank1cuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
  box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 5%;
  left: -33%;
    width: 130px; 
    height: 50px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
}




.ank2cuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px black  , 2px 2px 2px black , 3px 3px 3px lime , 4px 4px 4px pink;
  box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
   text-decoration: none;
  top: 10%;
  left: -10%;
    width: 160px; 
    height: 50px;
     border: 10px solid    skyblue ; 
    
    background:  #FF6603;
    border-radius: 10%;
}


.ank3cuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
   box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 8%;
  left: 15%;
    width: 140px; 
    height: 50px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
}


.ank4cuadro{
  position: relative;
  font-family: all;
text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 32%;
  left: -25%;
    width: 200px; 
    height: 50px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
  }


.ank5cuadro{
  position: relative;
  font-family: all;
 text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 16%;
  left: 12%;
    width: 200px; 
    height: 80px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
  }


.ank6scuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
   box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 24%;
  left: 28%;
    width: 200px; 
    height: 110px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
  }

.ank7cuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
   box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: 13%;
  left: -7%;
    width: 200px; 
    height: 50px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
  }

.ank8scuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px red , 2px 2px 2px red, 3px 3px 50px black, 4px 4px 4px red;
   box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px black, 5px 5px 50px red, 6px 6px 60px skyblue;
  top: -37%;
  left: 30%;
    width: 200px; 
    height: 50px;
    color: skyblue;    border: 10px solid red  ; 
    
    background: skyblue ;
    border-radius: 10%;
  }

.Cuadro3Semana2PPf{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px red, 4px 4px 4px red;
  
  top: 115%;
  left: 0%;
    width: 125%; 
    height: 800%;
    color: skyblue;    border: 5px solid red; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #EBDEF0;
    
}


.Cuadro4Semana2PPf{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 2%;
  left: 5%;
    width: 90%; 
    height: 97%;
    color: skyblue;    border: 5px solid red; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #FF6767 ;
}



.Tema1cuadro{
  position: relative;
  font-family: all;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 1%;
  left: 0%;
    width: 800px; 
    height: 600px;
    color: skyblue;    border: 10px solid #002AFC  ; 
    
    background: skyblue ;
    border-radius: 10%;
}


.Tema1{
  position: absolute;
  font-family: all;

  top: 14%;
  left: 10%;
  width: 80%; 
  height: 75%;
  border: 8px solid #002AFC ; 
        
   
   
    background: #DCFFF0;
    border-radius: 10%;
}


.Tema2cuadro{
  position: relative;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
  top: 3%;
  left: 0%;
    width: 800px; 
    height: 500px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    font-family: arial;
    animation-duration: 5s;
    background: skyblue ;
    border-radius: 10%;
}


.Tema2{
  position: absolute;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    background: #DCFFF0;
    border-radius: 10%;
}


.Tema3cuadro{
  position: relative;

  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 5%;
  left: 0%;
    width: 800px; 
    height: 600px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        font-family: Times New Roman;
    background: skyblue ;
    border-radius: 10%;
}


.Tema3{
  position: absolute;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
      font-family: Times New Roman;
    background: #DCFFF0;
    border-radius: 10%;
}


.Tema4cuadro{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 7%;
  left: 0%;
    width: 800px; 
    height: 580px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: skyblue ;
    border-radius: 10%;
}


.Tema4{
  position: absolute;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
     font-family: Algerian;
    background: #DCFFF0;
    border-radius: 10%;
}


.Tema5cuadro{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 9%;
  left: 0%;
    width: 800px; 
    height: 500px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: skyblue ;
    border-radius: 10%;
}


.Tema5{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #DCFFF0;
    border-radius: 10%;
}

.Tema6cuadro{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 11%;
  left: 0%;
    width: 800px; 
    height: 500px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: skyblue ;
    border-radius: 10%;
}


.Tema6{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #DCFFF0;
    border-radius: 10%;
}

.Tema7cuadro{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 13%;
  left: 0%;
    width: 800px; 
    height: 500px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: skyblue ;
    border-radius: 10%;
}


.Tema7{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #DCFFF0;
    border-radius: 10%;
}


.Tema8cuadro{
  position: relative;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 0%;
    width: 800px; 
    height: 850px;
    color: skyblue;    border: 10px solid #002AFC  ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: skyblue ;
    border-radius: 10%;
}


.Tema8{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px yellow , 2px 2px 2px yellow, 3px 3px 3px white, 4px 4px 4px black;
   
  top: 14%;
  left: 10%;
    width: 80%; 
    height: 75%;
    color: skyblue;    border: 8px solid #002AFC ; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #DCFFF0;
    border-radius: 10%;
}

.ank1cuadro:hover {

  font-family: Algerian;
  width: 20%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank2cuadro:hover {

  font-family: Algerian;
  width: 25%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;

}

.ank3cuadro:hover {

  font-family: Algerian;
  width: 20%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank4cuadro:hover {

  font-family: Algerian;
  width: 28%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank5cuadro:hover {

  font-family: Algerian;
  width: 27%; 
  height: 15%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank6scuadro:hover {

  font-family: Algerian;
  width: 26%; 
  height: 20%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank7cuadro:hover {
  font-family: Algerian;
  width: 20%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}

.ank8scuadro:hover {
  font-family: Algerian;
  width: 20%; 
  height: 10%;
  border-style: double;
  border-color: #CF13F1 ;
    box-shadow: 1px 1px 1px white  , 2px 2px 2px white , 3px 3px 3px white , 4px 4px 4px white, 5px 5px 5px white, 6px 6px 50px blue, 6px 6px 60px red;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 40px black;
  background: pink ;
  text-decoration: none;
}