body{
  
  background-size: cover;
   background-image: url(FondoPrueba.PNG);
   background: #FA8072;
}
.a1P{
	position: absolute;
	top: 1%;
 	left: 1%;
  	width: 98%; 
  	height: 600%; 
  	background-size: cover;
  	background-image: url( .PNG);
  	border: 5px solid yellow; 
  	border-radius: 4%;
    background: skyblue ;
}

.Cuadro1Semana2PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
   
  top: 1%;
  left: 5%;
    width: 80%; 
    height: 2%;
    color: skyblue;    border: 5px solid red; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    border-radius: 30px;
}


.Cuadro2Semana2PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 10%;
  left: 10%;
    width: 80%; 
    height: 20%;
    color: skyblue;    border: 5px solid red; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: pink;
    border-radius: 30px;
}

.Cuadro4Semana2PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px black, 3px 3px 3px black, 4px 4px 4px black;
   
  top: 10%;
  left: 10%;
    width: 80%; 
    height: 80%;
    color: skyblue;    border: 5px solid red; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: #BA03FF;
    border-radius: 30px;
}

.Cuadro5PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 225%;
  left: 20%;
    width: 40%; 
    height: 15%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    border-radius: 30px;
}

.IMG1PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 250%;
  left: 5%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    
}

.IMG2PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 250%;
  left: 50%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    
}

.IMG3PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 320%;
  left: 5%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    
}

.IMG4PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 320%;
  left: 50%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;
    
}

.IMG5PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 390%;
  left: 5%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;  
}


.IMG6PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 390%;
  left: 50%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;  
}

.IMG7PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 460%;
  left: 5%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;  
}

.IMG8PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 460%;
  left: 50%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;  
}

.IMG9PPP{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px black , 2px 2px 2px red, 3px 3px 3px black, 4px 4px 4px red;
  top: 525%;
  left: 5%;
    width: 40%; 
    height: 60%;
    color: skyblue;    border: 5px solid red;   
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: white;  
}

.BotónRpp{
  position: absolute;
  font-family: "Snap ITC", cursive;
  text-shadow: 1px 1px 1px white , 2px 2px 2px white, 3px 3px 3px white, 4px 4px 4px white;
   
  top: 4%;
  left: 30%;
    width: 13%; 
    height: 2%;
    border: 5px solid pink; 
        
    animation-name: PruebaTitulo;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: pink;
}



